:root { 
--black_900_7e:#0000007e; 
--deep_orange_50:#f5ebdd; 
--deep_orange_50_01:#f4e6d8; 
--deep_orange_A200:#ff7235; 
--blue_gray_100_00:#d9d9d900; 
--light_blue_A200:#3ec1f3; 
--red_200:#eaa58b; 
--red_300:#ca7358; 
--gray_50:#f9fcff; 
--black_900:#000000; 
--white_A700_12:#ffffff12; 
--pink_300:#f95c9e; 
--pink_100:#ffb7d5; 
--pink_50:#f9d4e3; 
--blue_gray_200:#aabbcc; 
--blue_gray_400:#8d8d8d; 
--gray_800:#494949; 
--gray_900:#30242a; 
--lime_900:#a15842; 
--gray_300_29:#d9dcdd29; 
--teal_50:#d9ecf6; 
--indigo_A400_01:#4856df; 
--gray_200:#e7e7e7; 
--gray_300:#e3e2e2; 
--gray_300_01:#e5e5e5; 
--gray_300_5d:#dadfe25d; 
--gray_300_3b:#d9dddf3b; 
--teal_50_8a:#d8ebf68a; 
--indigo_A400:#4756df; 
--blue_gray_400_01:#8c8c8c; 
--white_A700:#ffffff; 
--gray_300_1b:#d9dbdb1b; 
}